<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <span class="icon icon--white collapsible__chevron">
      <img src="Images/chevron.svg" alt="" />
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque fuga
    quam, explicabo alias laborum itaque magnam maiores sint vitae tempore.
  </div>
</div>
<script src="js/main.js"></script>
